################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Consumer/bin/Debug/net8.0
/Consumer/obj
